body {
  background-color: #eee;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

b, strong {
  font-weight: 700;
}

#configuration {
  display: none
}

.conversation {
  max-width: 400px;
  height: auto;
  width: auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes blink {
  from { opacity: 0.5; }
  to { opacity: 1; }
}

@keyframes blink-full {
  from { opacity: 0; }
  to { opacity: 1; }
}

.is-typing > span::after {
  content: '|';
  animation: blink 500ms infinite;
}

.me, .questions {
  border-radius: 5px;
  margin-bottom: 10px;
  align-items: center;
  display: flex;
}

.me {
  background-color: white;
  background-image: url('avatar.png');
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 40px;
  padding-left: 50px;
  min-height: 60px;
  box-shadow: 2px 2px #ccc;
}
.me > span {
  margin: 5px;
}

.questions {
  height: 60px;
  text-align: center;
  margin-bottom: 20px;
}

.questions button, .answered > span {
  font-weight: 300;
  background-color: #D52B2E;
  border: 1px solid #BC1215;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
}
.questions button:hover {
  background-color: #EF4548;
}
.questions button:active {
  position:relative;
  top:1px;
}
.questions button:not(:last-child){
  margin-right: 5px;
}
.questions > div {
  margin: auto;
}
.answered > span {
  margin-right: 5px;
  cursor: auto;
  margin-left: auto;
}

.blinking-intro::after {
  content: '...';
  animation: blink-full 800ms infinite;
}
